#container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column; 

}

#display {
    background-color: rgb(125, 125, 137);
    width: 210px;
    height: 60px;
    margin: 5px;

}

button {
    height: 50px;
    width: 50px;
}
