body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
}
.header-left {
    color: #F9FAF8;
    font-size: 30px;
    font-weight: bold;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.page-1 {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 50vh;
}

.title-1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtitle {
    color: #F9FAF8;

}

.image-placeholder {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    width: 400px;
    height: 300px;
}

button {
    background-color: blue;
    border-radius: 6px;
    border: 0px;
    color: #F9FAF8;
    padding: 6px;
    margin: 6px;
}

.page-2 {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
    
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.box {
    border-radius: 10px;
    border: 3px solid aqua;
    height: 100px;
    width: 100px;
    margin-bottom: 8px;
}

.box-subtext {
    text-align: center;
    color: #1F2937;
    font-size: 16px;
}

.page-3 {
    height: 70vh;
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page-3-content {
    display: flex;
    justify-content: center;
    font-size: 40px;
    flex-direction: column;
    color: #1F2937;
}

.footer-3{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 25px;
}
