body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button {
    padding: 1%;
    margin: 10px;
}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 2px solid black;
}

.square {
    /* display: flex; */
    height: 25px;
    width: 25px;
    background-color: pink;
    /* border: 0.2px solid black; */
    box-sizing: border-box;
}
